// color para los textos
$colorText: #fff;
$colorNumero: #637bff;
$colorBorde: #ccc;
$colorhover: rgb(158, 158, 158);

// color para los botones
$colorAdd: linear-gradient(180deg,#abe9fa,#c5ceff);
$colorHoverAdd: linear-gradient(180deg,#21c8f6,#637bff);
$colorDelete: linear-gradient(180deg,#ff8f63, #f62121);
$colorEdit: linear-gradient(180deg,#21c8f6,#637bff);

// color para los fondos de redes sociales
$fondoGit: rgb(48, 111, 199);
$fondoEmail: rgb(81, 156, 97);
$fondoLinkedin: rgb(238, 79, 92);

// color para la validacion error
$colorError: rgb(243, 84, 84);

// color para sombra de los inputs
$colorSombra: #637aff9b;